<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.datum.mfs.utils"
        version="0.1.0">

  <name>VolStatus</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/volstatus.js" target="js/volstatus.js"/>


  <js-module src="www/volstatus.js" name="volstatus">
    <clobbers target="volstatus" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      
      <feature name="VolStatus">
        <param name="android-package" value="com.datum.volstatus.VolStatus"/>
      </feature>
    </config-file>

    <source-file src="src/android/VolStatus.java" target-dir="src/com/datum/volstatus/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="VolStatus">
        <param name="ios-package" value="VolStatus" />
      </feature>
    </config-file>

    <header-file src="src/ios/VolStatus.h" target-dir="VolStatus"/>
    <source-file src="src/ios/VolStatus.m" target-dir="VolStatus"/>
    <header-file src="src/ios/SharkfoodMuteSwitchDetector.h" target-dir="VolStatus"/>
    <source-file src="src/ios/SharkfoodMuteSwitchDetector.m" target-dir="VolStatus"/>
  </platform>

  

</plugin>